@import "tailwindcss";

:root {
  /* Paleta de colores para tema judicial profesional */
  --background: #ffffff;
  --foreground: #475569;
  --card: #ecfeff;
  --card-foreground: #164e63;
  --popover: #ffffff;
  --popover-foreground: #475569;
  --primary: #164e63;
  --primary-foreground: #ffffff;
  --secondary: #0f766e;
  --secondary-foreground: #ffffff;
  --muted: #f0f4f8;
  --muted-foreground: #475569;
  --accent: #0f766e;
  --accent-foreground: #ffffff;
  --destructive: #be123c;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #f9fafb;
  --ring: rgba(20, 184, 166, 0.5);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}